.search-result {
    padding: 10px 20px;
  }
  
  .search-result:hover {
    background-color: #efefef;
  }

  .edit-label {
    padding-right: .5em;
  }

  .form-group {
    margin-bottom: 1em;
  }

  .edit-input{
    margin-right: 1em;
  }

  #displayName {
    width: 70%;
  }


